@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkhdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPw.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rAkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vAkA.ttf) format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #392e27;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.passwordgenerator {
  display: flex;
  flex-direction: column;
  width: 800px;
}
.passwordgenerator__title {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
}
.passwordgenerator__password {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.passwordgenerator__password-input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-bottom: 4px solid #392e27;
  border-radius: 2px;
  outline: none;
  box-shadow: 5px 5px 10px rgba(57, 46, 39, 0.2);
  background-color: #fff;
  font-size: 22px;
  font-weight: 700;
}
.passwordgenerator__password-btn {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.passwordgenerator__password-btn img {
  width: 20px;
}
.passwordgenerator__password-btn--copy {
  right: 35px;
}
.passwordgenerator__password-btn--copy img {
  transition: all 0.4s linear;
}
.passwordgenerator__password-btn--copy:hover img {
  transform-origin: center center;
  transform: scale(1.2);
}
.passwordgenerator__password-btn--copy .passwordgenerator__password-alert {
  position: absolute;
  width: 160px;
  font-size: 14px;
  left: 0;
  top: -10px;
  opacity: 0;
  transition: all 0.2s linear;
  transition: top 0.4s linear;
}
.passwordgenerator__password-btn--copy.active .passwordgenerator__password-alert {
  top: -30px;
  opacity: 1;
}
.passwordgenerator__password-btn--generate {
  right: 0;
}
.passwordgenerator__password-btn--generate img {
  transition: all 0.4s linear;
}
.passwordgenerator__password-btn--generate:hover img {
  transform-origin: center center;
  transform: rotate(180deg);
}
.passwordgenerator__settings {
  display: flex;
}
.passwordgenerator__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.passwordgenerator__length-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 40px;
}
.passwordgenerator__length-label {
  margin-bottom: 10px;
}
.passwordgenerator__length-input {
  width: 80px;
  padding: 10px 20px;
  margin-bottom: 5px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  outline: none;
  box-shadow: 5px 5px 10px rgba(57, 46, 39, 0.2);
  background-color: #fff;
  font-size: 20px;
  text-align: center;
}
.passwordgenerator__length-input::-webkit-outer-spin-button,
.passwordgenerator__length-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.passwordgenerator__range {
  width: 300px;
}
.passwordgenerator__checkbox-input {
  position: absolute;
  z-index: 100;
  width: 25px;
  height: 25px;
  opacity: 0;
  cursor: pointer;
}
.passwordgenerator__checkbox-input-custom {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  box-shadow: 5px 5px 10px rgba(57, 46, 39, 0.2);
  background-color: #fff;
}
.passwordgenerator__checkbox-input-custom::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 50%;
  opacity: 0;
  transition: all 0.1s linear;
  background-image: url(../img/check-solid.svg);
}
.passwordgenerator__checkbox-input:checked + .passwordgenerator__checkbox-input-custom::after {
  opacity: 1;
}
.passwordgenerator__checkbox-label {
  margin-left: 40px;
  cursor: pointer;
}
.range__input-wrapper {
  position: relative;
}
.range__input {
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(57, 46, 39, 0.2);
  background-color: #bfbfbf;
}
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #392e27;
  z-index: 100;
}
.range__input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #392e27;
}
